<div class="container">
  <h5 class= "text-center">Hello, I am your coach, what did you want to tell me?</h>
  <form action="/answer" class="form-group text-center">
    <label for="question">Speak to your coach</label>
    <input  class="form-control" type="text" id="question" name="answer" placeholder="What do you have to say to your coach?">
    <input  class="form-control btn btn-success" type="submit" value="Go on!">
  </form>
</div>
